{% extends 'base.html.twig' %}

{% block title %}Смена пароля{% endblock %}

{% block body %}
    <form method="post">
        {{ form_errors(passwordChangeForm) }}
        <div class="row d-flex flex-column align-items-center">
            <div class="col-lg-5">
                <h1 class="h3 mb-3 font-weight-normal">Смена пароля</h1>
            </div>
            <div class="col-lg-5">
                {{ form_start(passwordChangeForm) }}
                    {{ form_row(passwordChangeForm.passwordOld, {
                        label: 'Текущий пароль'
                    }) }}
                    {{ form_row(passwordChangeForm.passwordNew, {
                        label: 'Новый пароль'
                    }) }}
                    {{ form_row(passwordChangeForm.passwordConfirm, {
                        label: 'Подтвердите пароль'
                    }) }}
                {{ form_end(passwordChangeForm) }}
            </div>
            <br>
            <div class="col-lg-5">
                <button class="btn btn-lg btn-success" type="submit">
                    Подтвердить
                </button>
            </div>
        </div>
    </form>
{% endblock %}