{% extends 'base.html.twig' %}

{% block title %}Пользователи{% endblock %}

{% block body %}
    <h1>Пользователи</h1>
    <div class="card">
        <form method="GET">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <label class="w-100"><b>Логин</b>
                            <input name="login" value="{{ login }}" class="form-control w-100">
                        </label>
                    </div>
                    <div class="col-lg-3">
                        <label class="w-100"><b>Статус</b>
                            <select name="status" class="form-control w-100">
                                <option value="">Не выбрано</option>
                                <option value="{{ status_active }}" {{ status == status_active ? 'selected' : '' }}>
                                    Активно
                                </option>
                                <option value="{{ status_inactive }}" {{ status == status_inactive ? 'selected' : '' }}>
                                    Не показывается
                                </option>
                            </select>
                        </label>
                    </div>
                    <div class="col-lg-3 text-lg-end">
                        <button class="btn btn-success w-75" style="margin-top: 7.5%" type="submit">Поиск</button>
                    </div>
                </div>
            </div>
        </form>
        <div class="card-body">
            {{ include('admin/user_pagination.html.twig', {
                pagination: pagination,
                route: 'user-list',
                entityView: 'admin/user_list_item.html.twig',
                login: login, status: status }) }}
        </div>
    </div>
{% endblock %}